<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Plus</h1></a>
      <p>A Blog Site made with love</p>
    </div>
    <ul>
      <li><a href="/">BLOGS</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/blogs/create">NEW BLOGS</a></li>
    </ul>
  </nav>