<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This is the site where you can read blogs of your choice</p>
    <br>
    <p>You can also post your own blogs</p>
    <br>
    <p><strong>Happy Blogging</strong></p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>